---
layout: sub_category
---
<div class="cases clearfix">
  {% for article in site.cases %}
  {% if article.category == page.sub-category %}
  <div class="case pull-left">
    <div class="image">
      <a href="{{site.baseurl}}{{article.url}}">
        <img src="{{ site.baseurl }}{{article.image}}" alt="{{article.title}}" />
      </a>
    </div>
    <div class="info">
      <div class="title">
        <a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a>
      </div>
      <p class="desc">
        {{ article.desc }}
      </p>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

