---
layout: default
---
{% assign filename = page.url | replace_first: '/', '' | replace: 'downloads/', '' %}

<div class="sidebar col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a href="{{site.baseurl}}/products/{{filename}}">介绍</a>
    </li>
    <li class="active">
      <a href="{{site.baseurl}}/downloads/{{filename}}">下载</a>
</li>
    <li>
      <a href="{{page.test_url}}">试用</a>
</li>
  </ul>
  {% include search.html %}
</div>

<div class="col-md-9">
  <h2>{{ page.title }}</h2>
  <div class="text-content">
    {{ content }}
  </div>
</div>



