---
layout: default
---

%a{href: './projects.html'}
  %img{src: './assets/u25.jpg', alt: 'eshare', title: 'eshare'}

.p20
  .col-md-4
    %h4 
      产品
      .pull-right
        %a{href: 'projects.html'} more>>
  .col-md-4
    %h4
      案例
      .pull-right
        %a{href: 'cases.html'} more>>
  .col-md-4
    %h4 移动客户端下载
    %input.form-control{type: 'text', placeholder: '请输入单位/学校全称'}
    %select.form-control
      %option 请选择客户端平台
      %option iOS
      %option Android
      %option WP

    %br

    %input.form-control.btn.btn-primary{type: 'submit', value: '下载'}
