<div class="footer clearfix">
    <div class="col-md-4">
      <h4>关于</h4>
      <p>
        MINDPIN TEAM 是一个在北京的在线教育创业团队，正向越来越多的学校和个人用户提供软件和数据服务
      </p>
    </div>
    <div class="col-md-4">
      <h4>联系</h4>
      <p>
        微博：http://weibo.com/mindpin<br />
        电话：010 - 12345678<br />
        Email：mindpin@gmail.com
      </p>
    </div>
    <div class="col-md-4">
      <div class="pull-left mindpin_logo">
        <img src="{{ site.baseurl }}/assets/mindpin.png" alt="mindpin" />
      </div>
      <div class="pull-left mindpin_info">
        <h4>Mindpin</h4>
        <p>
          ©MINDPIN 2014<br />
          All Rights Reserved<br />
          京ICP备xxxxxxx号
        </p>
      </div>
    </div>
</div>
