<div class="header">
  <nav>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="/">首页</a>
        </li>

        {% assign pages = site.pages | sort:"order"  %}
        {% for page in pages %}
        {% if page.title and page.nav %}
        <li>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="nav"><a class="btn btn-default" href="/users/sign_in">登录</a></li>
      </ul>
      <div class="logo-text">
        <img alt="Knowledge Camp" src="/assets/logo.png">
      </div>
    </div>
  </nav>
</div>
