---
layout: default
---

<a href="{{ site.baseurl }}/sub_category/products1/index.html">
  <img src="./assets/u25.jpg" alt="eshare" title="eshare" />
</a>

<div class="p20">
  <div class="col-md-4">
    <h4>
      产品
      <a href="{{ site.baseurl }}/sub_category/products1/index.html" class="pull-right">more >></a>
    </h4>

    {% include index-category.html category='products' %}
  </div>
  <div class="col-md-4">
    <h4>
      案例
      <a href="{{ site.baseurl }}/sub_category/cases1/index.html" class="pull-right">more >></a>
    </h4>
    {% include index-category.html category='cases' %}
  </div>
  <div class="col-md-4">
    <h4>
      移动客户端下载
    </h4>
    <input type="text" placeholder="请输入单位/学校全称" class="form-control" />

    <select name="" id="" class="form-control">
      <option>
      请选择客户端平台
      </option>
      <option>
      iOS
      </option>
      <option>
      Android
      </option>
      <option>
      WP
      </option>
    </select>
    <br />
    <input type="submit" class="form-control btn btn-primary" value="下载" />
  </div>
</div>
{{ content }}
